.inputsForm label{
    font-size: .9rem;
}

.inputsForm input{
    font-size: 1rem;
}

.checkBox{
    font-size: .8rem;
}

.checkBox label{
    color: rgb(56, 56, 56);
}

.inputsRegister input{
    font-size: .9rem;
}

.buttonRegister  button{
    font-size: 1rem;
    border: none;
    width: 8rem;
    height: 2rem;
    font-weight: 600;
    background-color: #f27b20;
    color: white;
    border-radius: .8rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.buttonsRegister{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsRegister p{
    font-size: .9rem;
}

.buttonIS button{
    background-color: transparent;
    border: none;
    color: #0f79ca;
    font-size: .9rem;
    cursor: pointer;
}